[submodule "project/jni/iconv/src"]
	path = project/jni/iconv/src
	url = git@github.com:pelya/libiconv-libicu-android.git
[submodule "project/jni/openssl/openssl/jni"]
	path = project/jni/openssl/openssl/jni
	url = https://android.googlesource.com/platform/external/openssl
	branch = lollipop-mr1-dev
